{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Us</h5>
    <div class="card-body">
        <p class="card-text"> I have been working as Ericsson Network Engineer since July 2017. Initially I assigned as Docomo NFV QA project until March 2018. I experienced how can we improve software quality at this project. I have done a lot of verification and try to respond customer requests as well.
Next, I moved to Softbank project until now. I have been working as VoIP DNS Integration Engineer and HSS Data Storage(CUDB) verification, Integration Engineer. I have been focusing on getting knowledge of SAN since I joined Softbank project. </p>
        <a href="https://www.linkedin.com/in/hirofumi-doi-11b927105/?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3BysV9gjafR%2BqQsbQ3iBHAVg%3D%3D&licu=urn%3Ali%3Acontrol%3Ad_flagship3_profile_view_base-nav.settings_view_profile"
           class="btn btn-danger">My LinkedIn Profile</a>
    </div>
</div>
</div>

{% endblock sidebar %}

